{% extends "master.html.twig" %}

{% block title %}e-shop{% endblock %}

{% block content %}

    <h1>Welcome to e-shop</h1>

    {% if sessionUser %}
        <p>Hello {{sessionUser.name}} ({{sessionUser.email}}).
            You may <a href="/logout">logout</a>.</p>
        {% else %}
        <p>You may <a href="/login">login</a> or <a href="/register">register</a>.</p>
    {% endif %}

    {% for product in productList %}
        <hr>
        <div>
            <h3>{{product.name}}</h3>
            <img height=100 src="/images/{{ product.imagePath }}">
            <p>{{product.description}}</p>
            <p>Price per unit {{product.price}}</p>
            <form method="POST" action="/cart">
                Add to cart
                <input type="hidden" name="productID" value="{{product.ID}}">
                <input type="number" name="quantity" value="1" style="width:30px;">
                <input type="submit" value="Add to cart">
            </form>
        </div>
    {% endfor %}

{% endblock %}
