<html>
    <body>
        <h1>{{"Password reset request"|trans}}</h1>
        <p>{{"Hi"|trans}} <b>{{name}} </b>,</p><br>
        <p>{{"You have requested a password reset"|trans}}.</p>
        <p>{{"Click on"|trans}} <a href="{{url}}">{{"this link"|trans}}</a> {{"to reset your password"|trans}}</p>
        <p>{{"Sincerely"|trans}},
            FastFood-Online</p>
    </body>
</html>
