{% extends "master.html.twig" %}

{% block title %}{{"Forgot Password"|trans}}{% endblock %}

{% block head %}
    <!-- jQuery -->
    <script src="/js/register.js"></script>
{% endblock %}


{% block content %}
    <div class="container" id="loginContainer">

  <div class="row">

    {% if loginFailed %}
        <h4>{{"A valid Email was not found in our records"|trans}}</h4>
    {% endif %}
    
    <form class="form-signin" method="POST" action="/forgotPassword">
        <h2 class="form-signin-heading">{{"Forgot Password"|trans}}</h2>
        <div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="email" name="email" class="form-control" placeholder="{{"Email"|trans}}" required>
	</div>
	<br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{"Forgot Password"|trans}}</button>
      </form>
  </div>
</div>
{% endblock %}
