<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ECommerce Online Sop For Fast-Food Restaurant">
        <meta name="author" content="Olga_Racu & Tina_Migalatii">

        <!-- Bootstrap Core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Styles -->
        <link rel="stylesheet" href="/styles/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/Logo_Big.png" id="logo" alt='LOGO'></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav fontsize submenu">
                        <li>
                            <a href="/">{{"home"|trans}}</a>
                        </li>
                        
                        <li>
                            <a href="/locations">{{"locations"|trans}}</a>
                        </li>
                        {% if user.role == "admin" %}
                        <li>
                            <a href="#">Admin</a>
                            <ul>
                                <li><a href="/admin/products">Add/Edit product</a></li>
                                <li><a href="/admin/category_addedit">Add/Edit category</a></li>
                                <li><a href="/admin/orders">View orders</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <a href="/?lang=en"><img src="/images/eng.png" class="flag flag-fr" id="lang-fr" alt='EN'></a> 
                    <a href="/?lang=fr"><img src="/images/french.png" class="flag flag-en" id="lang-en" alt='FR'></a> 
                    <span style="color:#9d9d9d; font-size: 20px;">   
                        <!--<a href="?lang=en">English</a>
                        <a href="?lang=fr">Français</a>-->
                    </span>
                    <ul class="nav navbar-nav log-register fontsize">
                        {% if fbUser %}
                            <li>
                                <img src="//graph.facebook.com/{{fbUser.ID}}/picture"  alt='Facebook Login'><span style="color:#9d9d9d;">{{fbUser.firstName}}</span>
                            </li>
                            <li>
                                <a href="/cart"><img src="/images/cart.png" class="cart" alt='cart'></a>
                            </li>

                            <li><a href="/logout">{{"Logout"|trans}}</a></li>
                            {% else %}
                                {% if user %}
                                <li>
                                    <span style="color:#9d9d9d;">{{user.firstName}}</span>
                                </li>
                                <li>
                                    <a href="/cartItems"><img src="/images/cart.png" class="cart"></a>
                                </li>

                                <li><a href="/logout">{{"Logout"|trans}}</a></li>
                                {% else %}
                                <li>
                                    <a href="/login">{{"Sign In"|trans}}</a>
                                </li>
                                <li>
                                    <a href="/register">{{"Sign Up"|trans}}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div id="containercenterContent">
            <div id="container">{% block content %}{% endblock %}</div>

            <div class="container">

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; IPD8 2016</p>
                            <p>This website it's intended as a class project for the PHP course and has no commercial purpose.</p>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="/bootstrap/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-85730726-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>
